@media (max-width: 500px){
	
header{
   width: 100%;
   height: 80px;
	
   margin: 40px auto;	
   font-size: 10px;
}

header img{
    margin: 0 25px 0 30px;

    width: 90px;
    height: 90px;
}

main{
    width: 100%;
}

main section{
    float: none;
}
	
main h3{
    background-image: linear-gradient(to right, #282b30 1%, transparent);
    color: white;
}

#pessonalInformations{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}

#pessonalInformations p span img{
    width: 15px;
    height: 15px;
}

article{
    width: 100%;

    margin: 0 0 25px 0;
    padding: 0 0 0 20px;
}

h3{
    margin: 0 0 15px 0;

    text-transform: uppercase;
}

#contacts dl dd:nth-child(8){
    margin-left: 5px;
}

#professionalInformations{
    float: left;
}

#professionalInformations{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    
    width: 100%;
}

#professionalInformations:before{
    content: '';
    display: none;

    position: absolute;
    top: 0;
    left: 5px;

    width: 3px;
    height: 95%;

    background-color: #041c41;
}

#professionalInformations p{
    width: 95%;
    text-align: justify;
}

#skills ul li {
    flex-direction: column;
    align-items: flex-start;    	
}

#professionalInformations img{
    width: 15px;
    height: 15px;
}

#courses dl dt:nth-child(7){
    padding-top: 7px; 
}

#courses dl dt:nth-child(7),dd:nth-child(8),dt:nth-child(9),dd:nth-child(10),dt:nth-child(11),dd:nth-child(12){
    margin-left: -20px;
}
}
